*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
}

/* Main */
main {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 1100px;
  max-width: 94%;
  gap: 30px;
}

/* Menu --Start-- */
#menu {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  width: 300px;
}

#menu > fieldset {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  padding: 10px;
  height: 80px;
}

/* Color Selector --Start-- */
.colorSelector {
  padding: 0.5em 1em;
  outline: 1px solid #fff;
  cursor: pointer;
  position: relative;
  isolation: isolate;
  transition: transform 400ms linear;
}

.colorSelector::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 400ms linear;
}

.colorSelector:hover {
  color: #333;
}

.colorSelector:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 400ms linear;
}

input[name="color"] {
  appearance: none;
}

input[name="color"]:checked + .colorSelector {
  color: #333;
}

input[name="color"]:checked + .colorSelector::after {
  transform: scaleX(1);
}
/* Color Selector --End-- */

/* Size Slider */
#sizeSlider {
  width: 100%;
}

/* Grid Line Toggle --Start-- */
#gridLineSelector {
  appearance: none;
}

#gridLineSelector + label {
  position: relative;
  width: fit-content;
  padding-right: 25px;
  cursor: pointer;
}

#gridLineSelector + label::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10%;
  transform: translateY(-50%);
  width: 30px;
  height: 15px;
  border-radius: 20px;
  outline: 1px solid #fff;
}

#gridLineSelector + label::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: red;
  transition: transform 300ms linear;
}

#gridLineSelector:checked + label::before {
  transform: translate(128%, -50%);
  background-color: green;
}
/* Grid Line Toggle --End-- */

/* Clear Button */
#clear {
  appearance: none;
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  padding: 0.5em 2em;
  cursor: pointer;
}
/* Menu --End-- */

/* PixelPad */
#pixelPad {
  width: 600px;
  height: 600px;
}

@media screen and (max-width: 820px) {
  main {
    gap: 30px;
  }

  #menu {
    flex-flow: row wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
